@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
body{
  background-color: white;
  margin-top:100px;
  text-align:center;
}

.github-links{
  font-size: 30px;
  padding-bottom: 15px;
}

#arsn {
  text-align:center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size:300px;
  text-transform:uppercase;
  color: transparent;
    background: linear-gradient(to left, #1e5799, #2ce0bf, #76dd2c, #dba62b, #e02cbf, #1e5799);
  background-size: 1000px 100%;
  animation: bg linear ;
  background-clip: text;
  -webkit-background-clip: text;
  padding-top: 80px;
  padding-bottom: 10px;
}

@keyframes bg {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}

.navbar{
  position: fixed; 
  top: 0; 
  width: 100%;  
}
p {
  color: #000000;
  text-align: center;
  
}

#problem h1{
  padding-top:15px;
  font-family: 'Squada One', cursive;
  font-size: 70px;
}

#para{
  font-family: 'Bitter', serif;
  align-self: justify;
  font-size-adjust: 40%;
}

#solution h1{
  padding-top:0px;
  font-family: 'Squada One', cursive;
  font-size: 70px;
}

#solution-para{
  font-family: 'Bitter', serif;\
  font-size: 40%;
  padding-bottom: 10px;
}
.web-bg{
  background-repeat: space;
}

.typingEffect{
  font-family: lato;
  font-size: 35px;
  font-weight: 700;
  height:30px;
  width: 100%;
  color: #FFFFFF;
  white-space:nowrap;
  overflow:hidden;
  animation: type 4s steps(30, end), blink-caret 1s step-end infinite;
  padding-bottom: 20%;
  padding-top: 40%;
  top: 0;
  z-index: 999;
  text-align=center;
}

@keyframes type {
   from { width: 1%; }
   to { width:100%; }
}

@keyframes blink-caret{
  from, to {border-color: transparent}
  50%{ border-color:#424242}
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

#logo{
  align-self: center;
}

#poweredby{
  font-family: lato;
  text-align: center;
  font-size: 80px;
  padding-top: 30px;
  padding-bottom: 10px;
}

#blink {
  text-align:center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 120px;
  text-transform:uppercase;
  color: transparent;
    background: linear-gradient(to left, #1e5799, #2ce0bf, #76dd2c, #dba62b, #e02cbf, #1e5799);
  background-size: 1000px 100%;
  animation: bg 15s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  padding-top: 50px;
  padding-bottom: 45px;
}

#SecondSection{
  text-decoration-color: black;
  font-size: 150px;
}
@keyframes bg {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 10000px;
  }
}

.arsnbg {
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;
z-index: -1;

-webkit-animation: rainbow 13s ease infinite;
-z-animation: rainbow 13s ease infinite;
-o-animation: rainbow 13s ease infinite;
  animation: rainbow 13s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
